@import "RequestForm.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body{
	background-image: url("https://media4.giphy.com/media/AC0OyIzBpDg2le2CqA/giphy.gif?cid=ecf05e4757751qzp8h7gwjhpows2031w5xt69xcc2uexpsiw&rid=giphy.gif&ct=g");
	background-size: cover;
}
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  color: red;
}

/* .field {
    flex-direction: column;
    margin: 3rem;
}

.label {
	font-style: italic;
	color: blue;
	font-size: larger;
} */